# Тема “Вычисления с помощью Numpy”

#### **Задание 1**

Импортируйте библиотеку Numpy и дайте ей псевдоним np.

Создайте массив Numpy под названием a размером 5x2, то есть состоящий из 5 строк и 2 столбцов. Первый столбец должен содержать числа 1, 2, 3, 3, 1, а второй - числа 6, 8, 11, 10, 7. Будем считать, что каждый столбец - это признак, а строка - наблюдение. Затем найдите среднее значение по каждому признаку, используя метод mean массива Numpy. Результат запишите в массив mean_a, в нем должно быть 2 элемента.

In [1]:
import numpy as np
a = np.array([[1, 2, 3, 3, 1],[6, 8, 11, 10, 7]]).T
mean_a = a.mean(axis=0)
mean_a

array([2. , 8.4])

#### **Задание 2**

Вычислите массив a_centered, отняв от значений массива “а” средние значения соответствующих признаков, содержащиеся в массиве mean_a. Вычисление должно производиться в одно действие. Получившийся массив должен иметь размер 5x2.

In [2]:
a_centered = a - mean_a
a_centered

array([[-1. , -2.4],
       [ 0. , -0.4],
       [ 1. ,  2.6],
       [ 1. ,  1.6],
       [-1. , -1.4]])

#### **Задание 3**

Найдите скалярное произведение столбцов массива a_centered. В результате должна получиться величина a_centered_sp. Затем поделите a_centered_sp на N-1, где N - число наблюдений.

In [3]:
a_centered_sp = np.dot(a_centered[:,0],a_centered[:,1]) / (a.shape[0]-1)
a_centered_sp

2.0

#### **Задание 4****

Число, которое мы получили в конце задания 3 является ковариацией двух признаков, содержащихся в массиве “а”. В задании 4 мы делили сумму произведений центрированных признаков на N-1, а не на N, поэтому полученная нами величина является несмещенной оценкой ковариации.
Подробнее узнать о ковариации можно здесь:
Выборочная ковариация и выборочная дисперсия — Студопедия
В этом задании проверьте получившееся число, вычислив ковариацию еще одним способом - с помощью функции np.cov. В качестве аргумента m функция np.cov должна принимать транспонированный массив “a”. В получившейся ковариационной матрице (массив Numpy размером 2x2) искомое значение ковариации будет равно элементу в строке с индексом 0 и столбце с индексом 1.

In [4]:
np.cov(a.T)[1,0]

2.0

# Тема “Работа с данными в Pandas”

#### **Задание 1**

Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные: [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].

Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные:  
[1, 1, 1, 2, 2, 3, 3],

['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],

[450, 300, 350, 500, 450, 370, 290].

In [7]:
import pandas as pd
data = [[1,2,3],['Тургенев', 'Чехов', 'Островский']]
authors = pd.DataFrame(data).T.set_axis(['author_id','author_name'],axis=1)
data = [[1,1,1,2,2,3,3],
       ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
       [450,300,350,500,450,370,290]]
book = pd.DataFrame(data).T.set_axis(['author_id', 'book_title', 'price'],axis=1)

#### **Задание 2**

Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [8]:
authors_price = pd.merge(authors,book,on='author_id').convert_dtypes()
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

#### **Задание 3**

Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

1)

In [9]:
authors_price.loc[authors_price.price.isin(authors_price['price'].nlargest(5).values),:]

   author_id author_name         book_title  price
0          1    Тургенев        Отцы и дети    450
2          1    Тургенев  Дворянское гнездо    350
3          2       Чехов   Толстый и тонкий    500
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370

2)

In [10]:
authors_price.sort_values('price',ascending=False).head()

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

#### **Задание 4**

Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:

author_name, min_price, max_price и mean_price,

в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.

In [158]:
import numpy as np
authors_stat = pd.pivot_table(data = authors_price.reset_index(), values=['price','price','price'],columns=['author_name'],aggfunc=['min','max','mean'])
authors_stat = authors_stat.T.reset_index().groupby(['author_name','level_0'])[['author_name','price']].min()
authors_stat = pd.DataFrame(authors_price['author_name'].unique()).set_axis(['author_name'],axis=1)
authors_stat['min_price'] = [authors_price.loc[authors_price['author_name'] == i,'price'].min() for i in authors_stat['author_name']]
authors_stat['max_price'] = [authors_price.loc[authors_price['author_name'] == i,'price'].max() for i in authors_stat['author_name']]
authors_stat['mean_price'] = [authors_price.loc[authors_price['author_name'] == i,'price'].mean() for i in authors_stat['author_name']]
authors_stat

  author_name  min_price  max_price  mean_price
0    Тургенев        300        450  366.666667
1       Чехов        450        500  475.000000
2  Островский        290        370  330.000000

#### **Задание 5****
Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные из следующего списка:

['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].

Просмотрите документацию по функции pd.pivot_table с помощью вопросительного знака.Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. Используйте для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.

Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

In [11]:
authors_price['cover'] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
book_info = pd.pivot_table(authors_price,columns='cover',index='author_name',values='price',aggfunc=['sum']).fillna(0)
book_info.rename(columns={'sum':''},inplace=True)
book_info

cover       мягкая твердая
author_name
Островский     660       0
Тургенев       650      50
Чехов            0     950

In [12]:
book_info.to_pickle('book_info.pkl')

book_info = pd.read_pickle('book_info.pkl')
book_info

cover       мягкая твердая
author_name
Островский     660       0
Тургенев       650      50
Чехов            0     950